<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">

</head>
<body>
    <div class="container mt-5">
    <h1 class="text-center" style="color: purple;">CRUD OPERATION USING DJANGO</h1>

    {% block content %}
    {% endblock content %}
</div>

    <script src="{% static 'app/js/jquery.js' %}"> </script>
    <script src="{% static 'app/js/popper.js' %}"> </script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"> </script>
</body>
</html>